layout {
    border {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.surface_variant.default.hex}}"
    }
    focus-ring {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
    }
}
