@import url("file:///home/flask/.config/waybar/colors.css");

* {
    font-family: Inter;
    font-size: 14px;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: rgba(10, 10, 10, 1);
    color: #cdd6f4;
}

#workspaces button {
    padding: 0 8px;
    color: #585b70;
    background: transparent;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

#workspaces button.active {
    color: #cdd6f4;
    border-bottom: 2px solid @primary; 
}
#workspaces button.urgent {
    color: #f38ba8;
}

#window,
#network,
#battery,
#pulseaudio,
#language,
#clock,
#power-profiles-daemon {
    padding: 0 8px;
    color: #cdd6f4;
}

#custom-power {
    padding: 0 8px;
    color: #f38ba8;
    font-size: 18px;
    font-weight: bold;
}

#battery.warning { color: #fab387; }
#battery.critical { color: #f38ba8; }
