@import url("file:///home/flask/.config/waybar/colors.css");

* {
    font-family: Inter;
    font-size: 14px;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: rgba(10, 10, 10, 0.5);
    color: @on_surface;
}

#workspaces button {
    padding: 0 8px;
    color: @on_surface_variant;
    background: transparent;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

#workspaces button.active {
    color: @on_surface;
    border-bottom: 2px solid @primary;
}

#workspaces button.urgent {
    color: @error;
}

#window,
#network,
#battery,
#pulseaudio,
#language,
#clock,
#power-profiles-daemon {
    padding: 0 8px;
    color: @on_surface;
}

#custom-power {
    padding: 0 8px;
    color: @error;
    font-size: 18px;
    font-weight: bold;
}

#battery.warning { color: @tertiary; }
#battery.critical { color: @error; }
