layout {
    // 1px Glaskante (#rrggbbaa)
    border {
        active-color   "#c3c6d699"
        inactive-color "#ffffff26"
    }
    focus-ring {
        active-color   "#c3c6d6"
        inactive-color "#929092"
    }
}
