layout {
    // 1px Glaskante (#rrggbbaa)
    border {
        active-color   "#bbc3ff99"
        inactive-color "#ffffff26"
    }
    focus-ring {
        active-color   "#bbc3ff"
        inactive-color "#90909a"
    }
}
