layout {
    // 1px Glaskante (#rrggbbaa)
    border {
        active-color   "#bdc2ff99"
        inactive-color "#ffffff26"
    }
    focus-ring {
        active-color   "#bdc2ff"
        inactive-color "#91909a"
    }
}
